<script>
  function hashLocate(hashValue) {
    // 해시 값 정리
    hashValue = hashValue.replace(/^.*#h-/, ''); // #h-를 제거
    hashValue = decodeURIComponent(hashValue); // 디코딩

    console.log('정리된 hashValue:', hashValue); // 로그로 확인

    var element = document.getElementById(hashValue); // ID를 통해 요소 찾기

    if (!element) {
        console.log('해당 ID의 요소가 없음');
        return;
    }
    }

    var header = document.querySelector('header.site-header');
    var headerRect = header.getBoundingClientRect();
    var headerTop = Math.floor(headerRect.top);
    var headerHeight = Math.floor(headerRect.height);
    var scrollPos = getScrollPos();
    var offsetY = element.offsetTop - (headerTop + headerHeight + 20);

    if (offsetY == scrollPos.y) {
      return;
    }

    if (headerTop == 0  && offsetY > scrollPos.y) {
      offsetY += headerHeight + 2;
    } else if (headerTop < 0  && offsetY < scrollPos.y) {
      offsetY -= headerHeight - 2;
    }

    smoothScrollTo(offsetY);
  }

  // The first event occurred
  window.addEventListener('load', function(event) {
    if (window.location.hash) {
      hashLocate(window.location.hash);
    }
  });

  // The first event occurred
  window.addEventListener('click', function(event) {
    if (event.target.tagName.toLowerCase() == 'a') {
      hashLocate(event.target.getAttribute('href'));
    }
  });
</script>
