
{%- include functions.html func='get_banner' -%}

{%- include functions.html func='log' level='debug' msg='Get header_transparent value' -%}
{%- assign name = 'header_transparent' -%}
{%- include functions.html func='get_value' default=true -%}
{%- assign header_transparent = return -%}
{%- include overlay.html -%}

{%- if has_banner and header_transparent -%}
  {%- assign header_transparent_class = "site-header-transparent" -%}
{%- endif -%}

<header class="site-header {{ header_transparent_class }}" role="banner">

  <div class="wrapper">
    <div class="site-header-inner">
      {%- assign default_paths = site.pages | where: "dir", "/" | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      <!-- <span class="site-brand">
        {%- include views/site-brand.html -%}
      </span> -->
      <!-- 네비게이션 메뉴 -->
    <button class="btn-search" title="search"><i class="fa fa-search"></i></button>
      <style>
  .btn-search {
      float: right; /* 버튼을 오른쪽으로 이동 */
  }
</style>
      
    <a class="site-logo" href="https://iloveliterature.github.io/">
  <img 
    src="{{ site.logo | default: '/assets/images/logo.jpeg' }}" 
    alt="{{ site.logo_alt | default: 'Logo' }}"
    class="logo-image"
  >
</a>

    </div>
  </div>
</header>

<script>
  function initHeader() {
    var lastScrollY = getScrollPos().y;
    var documentElement = document.documentElement;

    function storeScrollData() {
      var y = getScrollPos().y;

      {%- if banner and header_transparent -%}
      documentElement.setAttribute("data-header-transparent", "");
      {%- endif -%}

      var scrollStatus = "";

      if (y <= 0) {
        scrollStatus = "top";
      } else if ((window.innerHeight + y) >= document.body.offsetHeight) {
        scrollStatus = "bottom";
      } else {
        var isScrollDown = (y - lastScrollY > 0) ? true : false;
        scrollStatus = isScrollDown ? "down" : "up";
      }

      lastScrollY = y;
      documentElement.setAttribute("data-scroll-status", scrollStatus);
    }

    window.addEventListener('scroll', function(e) {
      storeScrollData();
    });

    storeScrollData();
  }
  document.addEventListener('DOMContentLoaded', initHeader);
</script>
