---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Default theme colors
$theme-colors: (
  "coolblack": #090a0b,
  "spacegrey": #353535,
  "snowwhite": #ffffff,
);

// Default brand colors
$brand-colors: (
  "orangered": #ff5100,
  "greatgold": #f2cb05,
  "greenblue": #389092,
);

$theme-name: "{{ site.theme_color }}";
$brand-name: "{{ site.brand_color }}";
$theme-color: map-get($theme-colors, "snowwhite");
$brand-color: map-get($brand-colors, "orangered");

@if map-has-key($theme-colors, $theme-name) {
  $theme-color: map-get($theme-colors, $theme-name);
} @else if str-index($theme-name, "#") == 1 {
  $theme-color: {{ site.theme_color | default: '#000000' }};
}

.site-header nav a {
  color: #000000 !important; /* 원하는 색상으로 변경 */
}
.site-logo {
  color: #000000 !important; /* 원하는 색상으로 변경 */
}

@if map-has-key($brand-colors, $brand-name) {
  $brand-color: map-get($brand-colors, $brand-name);
} @else if str-index($brand-name, "#") == 1 {
  $brand-color: {{ site.brand_color | default: '#ff5100' }};
}

$content-width: {{ site.content_width | default: '920px' }};

// Click to top theme
$click-to-top-light-background-color: {{ site.click_to_top.light.background_color | default: "white" }};
$click-to-top-light-color: {{ site.click_to_top.light.color | default: "#454545" }};
$click-to-top-dark-background-color: {{ site.click_to_top.dark.background_color | default: "#34323d" }};
$click-to-top-dark-color: {{ site.click_to_top.dark.color | default: "#bbb" }};

// Selection styles
$selection-color: unquote("{{ site.selection.color }}");
$selection-background-color: unquote("{{ site.selection.background_color }}");

@if $selection-color == "" {
  $selection-color: inherit;
}
@if $selection-background-color == "" {
  $selection-background-color: rgba(invert($brand-color), 0.3);
}

/* assets/css/main.scss에 추가 */

.logo-container {
  position: relative;
  top: 0;
  left: 0; /* 이미지를 헤더의 가장 왼쪽으로 정렬 */
  margin-left: 0; /* 왼쪽 여백 제거 */
  padding-left: 0; /* 필요 시 추가 */
}

.logo-image {
  height: 100px;  /* 필요 높이 조정 */
  width: auto;
  transition: opacity 0.3s ease; /* 호버 효과 추가 */

  &:hover {
    opacity: 0.8;
  }
}
.site-nav a { font-family: 'Black Han Sans', sans-serif; }

.subheading {
    text-align: center; /* subheading만 가운데 정렬 */
    width: 100%;
    margin: 0 auto; /* 가운데 정렬 유지 */
    display: block;
}

.banner {
    border-bottom: 0.3px solid black; /* 두께 3px, 검은색 라인 */
}

.btn-search {
    position: relative;
    z-index: 9999;  /* 다른 요소보다 위로 표시 */
}

.overlay-form.active {
    top: 0;
    left: 0;
    opacity: 1;  /* 활성화되면 보이게 함 */
}

.search-wrapper .results li {
  display: flex;
  align-items: center;
}

.search-wrapper .results li .meta-info {
  margin-left: auto;  /* 오른쪽으로 밀기 */
  font-size: 0.9em;
  color: #fff;
    text-overflow: ellipsis; /* 넘칠 경우 "..."으로 표시 */
}

.search-wrapper .results li .author {
  margin-right: 2px; /* 작가 이름과 날짜 사이의 여백 */
}

.search-wrapper .results li time {
  display: inline-block; /* 보이게 하도록 display 속성 설정 */
  visibility: visible  !important;   /* 숨겨지지 않도록 */
  overflow: visible  !important; 
  font-size: 0.7rem ;  /* 크기를 적당히 설정 */
  color: #fff ;  /* 글자색을 검정색으로 설정 */
  
}

@import "yat";
// main.scss 또는 기본 SCSS 파일에 추가
@import 'overlay';
