<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

  </body>
</html>

<header class="site-header">
  <div class="logo-container">
    <a href="/" class="site-logo">
      <img src="assets/images/logo.jpeg" alt="Logo">
    </a>
  </div>
  <!-- 네비게이션 메뉴 추가 가능 -->
</header>
