---
layout: framework
sidebar: tag-list
---


{% assign items = site.posts | where: "categories", "기획비평" %}

{% assign keys = "" | split: "" %}

{% for item in items %}
  {% unless keys contains item.subcategories %}
    {% assign keys = keys | push: item.subcategories %}
  {% endunless %}
{% endfor %}

<div class="page-segments">
  <ul class="page-segments-list">
    {% for key in keys %}
      <h2 class="segment-name">{{ key }}</h2>

      {% for item in items %}
        {% if item.subcategories == key %}
          <li>
            {% include views/post-item.html item=item %}
          </li>
        {% endif %}
      {% endfor %}

    {% endfor %}
  </ul>
</div>
